body {
    /*max-width: 1200px;*/
    /* margin: auto; */
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex; 
    flex-direction: row;
    margin-bottom: 1em;
    margin-top: 1em;
    float: right;
}

nav div {
    padding-right: 2em;
}

#main-content {
    padding-top: 4rem;
    clear: both;
    width: 50%;
    margin: auto;
    min-width: 33%;
}
#advSearch-main-content {
    padding-top: 1rem;
    clear: right;
}

#main-content form {
    text-align: center;
}
#main-title {
    color: mediumblue;
    display: flex;
    justify-content: center;
    margin: 1em 0em;
    font-size: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#advSearch-main-title {
    background-color: rgb(241,241,241);
    padding: 5px;
    color: mediumblue;
    display: flex;
    justify-content: left;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1rem;
}
#subtitle {
    position: relative;
    top: -2.8em;
    right: -55%;
    color:mediumblue;
}
input[type=text] {
    font-size: larger;
    border-radius: 25px;
    line-height: 1.5rem;
    margin-bottom: 10px;
    max-width: 50em;
    min-width: 25em;
    padding: 2px 5px;
    box-sizing: border-box;
}

#submitButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type=submit] {
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
}
.hiddeninput {
    display: none;
}

input[type=submit]:hover {
    border: 2px solid lightgray;
}

.blue {
    color:blue;
}
.red {
    color:red;
}
.orange {
    color:orange;
}
.green {
    color:green;
}
